<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <description>LabJSP_10-Servlet-JSP-BEAN-MVC-P1</description>
  <display-name>LabJSP_10-Servlet-JSP-BEAN-MVC-P1</display-name>
  
  <welcome-file-list>
    <welcome-file>/WEB-INF/accueil/index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>listener.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.ContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>controleur</servlet-name>
    <servlet-class>controleur.SimpleControleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controleur</servlet-name>
    <url-pattern>/controleur</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/erreurs/afficherErreurNombreIncorrect.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>500</error-code>
    <location>/erreurs/afficherErreurServeur.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>503</error-code>
    <location>/erreurs/afficherErreurServeur.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/erreurs/afficherErreurServeur.jsp</location>
  </error-page>
  
  <jsp-config>
    <jsp-property-group>
      <description>Toutes les pages</description>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <page-encoding>ISO-8859-1</page-encoding>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
    
    <jsp-property-group>
      <description>La page d'accueil</description>
      <url-pattern>/accueil/index.jsp</url-pattern>
      <include-prelude>/jspf/hautDePage.jsp</include-prelude>
    </jsp-property-group>
    
    <jsp-property-group>
      <description>Les pages de gestion des client</description>
      <url-pattern>/pagesclient/*</url-pattern>
      <include-prelude>/jspf/hautDePage.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>

</web-app>